@import "_colors";

$font-primary: helvetica, arial, sans-serif;
$font-serif: georgia, times, serif;
$font-base: "Roboto", $font-primary;
$font-headings: "Roboto Condensed", $font-serif;

$border-radius: 0.3rem;
$border-radius-sm: 0.3rem / 2;
$spacing: 1rem;
$spacing-sm: 0.5rem;
$spacing-lg: 2rem;
